{% extends "common.html.twig" %}

{#====================================================================================================================#}
{# TICKET - ADD                                                                                                       #}
{#                                                                                                                    #}
{# The lines of text for each section below can be edited to suit your individual needs.                              #}
{#                                                                                                                    #}
{# - The upper line of text is sent as the content anytime a recipient is determined by a variable provided           #}
{#   in the Plugin Settings (i.e. %TICKET_ASSIGNED_USER%).                                                            #}
{#                                                                                                                    #}
{# - The lower line of text is sent as the content anytime a recipient is determined by a manually entered            #}
{#   email in the Plugin Settings (i.e. rspaeth@mvqn.net).                                                            #}
{#                                                                                                                    #}
{#====================================================================================================================#}

{% block body %}
    {# Email Subject #}
    {% if personalized %}
        {{ setSubject("A Ticket was Added for You") }}
    {% else %}
        {{ setSubject("Ticket Added") }}
    {% endif %}

    <div>
        {# Salutation #}
        <p>
            {% if personalized and user %}
                {{ "Dear"|translate }} {{ user.getFirstName }} {{ user.getLastName }},
            {% else %}
                {{ "Dear Sales Team,"|translate }}
            {% endif %}
        </p>

        {# Content #}
        <p>
            {% if personalized %}
                {{ "The following Ticket has been created and assigned to You in the UCRM."|translate }}
            {% else %}
                {{ "The following Ticket has been created in the UCRM."|translate }}
            {% endif %}
        </p>

        {# Widget: Ticket #}
        {% include "_partials/ticket.html.twig" %}

        {# Widget: Client #}
        {% include "_partials/client.html.twig" %}

        {# Widget: Map #}
        {% include "_partials/map.html.twig" %}
    </div>
{% endblock %}