{% extends "common.html.twig" %}

{#====================================================================================================================#}
{# CLIENT - ADD                                                                                                       #}
{#                                                                                                                    #}
{# NOTE: Currently, no personalization is handled by the Client Template system.                                      #}
{#                                                                                                                    #}
{#====================================================================================================================#}

{% block body %}
    {# Edit the Email Subject Line here, as desired... #}
    {% if client.getIsLead %}
        {{ setSubject("Client Lead Invited"|translate) }}
    {% else %}
        {{ setSubject("Client Invited"|translate) }}
    {% endif %}

    <div>
        {# Salutation #}
        <p>
            {{ "Dear Sales Team,"|translate }}
        </p>

        {# Content #}
        <p>
            {% if client.getIsLead %}
                {{ "The following Client Lead has been invited to use your UCRM."|translate }}
            {% else %}
                {{ "The following Client has been invited to use your UCRM."|translate }}
            {% endif %}
        </p>

        {# Widget: Client #}
        {% include "_partials/client.html.twig" %}

        {# Widget: Map #}
        {% include "_partials/map.html.twig" %}
    </div>
{% endblock %}